/* إصلاح مشكلة الخلفية في iOS */
html {
    height: 100%;
}

body {
    min-height: 100%;
    background: var(--gradient-background) !important;
    background-attachment: fixed !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
}
